@media only screen and (max-width:769px) {
    aside {
        width: 70%;
        transform: translateX(-105%);
        transition: 0.5s all;
    }
    .slide{
        transform: translateX(0%);
    }
    main {
        width: 100%;
        margin:0px;
        transition: 0.5s all;
        .rwdtop {
            display: block;
            width: 100%;
            height: 70px;
            background: #242424;
            text-align: center;
            position: fixed;
            z-index: 100;
            div {
                width: 100%;
                height: 70px;
                text-align: center;
                button {
                    width: 36px;
                    height: 36px;
                    background: transparent;
                    position: relative;
                    float: left;
                    margin: 17px 0px 0px 20px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 6px;
                        background: white;
                        border-radius: 5px;
                        top: 0px;
                        left: 0px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 6px;
                        background: white;
                        border-radius: 5px;
                        bottom: 0px;
                        left: 0px;
                    }
                    span {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 6px;
                        background: white;
                        border-radius: 5px;
                        top: 15px;
                        left: 0px;
                    }
                }
                p {
                    display: block;
                    color: white;
                    font-size: 18px;
                    line-height: 70px;
                    font-weight: bold;
                    margin: 0px auto;
                }
                .logo {
                    width: 145px;
                    height: 51px;
                    background: url('../images/logo.png') no-repeat;
                    transform: translateY(10px);
                    margin: 0px auto;
                }
            }
        }
        .top {
            display: none;
        }
        article {
            padding: 80px 30px 30px;
        }
        .bg {
            background-attachment:fixed;
        }
    }
    .slide_r {
        transform: translateX(70%) translateY(0%);
        filter: brightness(.1);
        .bg {
            background-attachment:fixed;
        }
    }
}